@using System.Web.Optimization;
@using Site.Helpers;
@using Site.Models;
@inherits UmbracoViewPage<Gallery>
@{
    Layout = "LayoutBase.cshtml";

    var dataTypeService = ApplicationContext.Current.Services.DataTypeService;
    var imageCategories = Helper.GetDataTypePreValues(
        dataTypeService,
        Consts.DataTypes.ImageCategory);
    var widthPerCategory = 24 / (imageCategories.Count() + 1);
}

<div class="main-wrapper">
    <div class="container">
        <div class="gallery-categories">
            <div class="row">
                @RenderCategory("All", true, widthPerCategory)
                @foreach (var imageCategory in imageCategories)
                {
                    @RenderCategory(@imageCategory, false, widthPerCategory)
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="gallery-images">
            @*<div class="gallery-item masonry-item"></div>*@
            @foreach (var media in Model.Media)
            {
                @RenderImage(@media)
            }
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            InitGallery();
        });
    </script>
</div>

@helper RenderCategory(string name, bool isActive, int widthPerCategory)
{
    <div class="col-sm-@widthPerCategory text-center">
        <h4 class="@(isActive ? "active": null) gallery-category">
            @name.ToUpperInvariant()
        </h4>
    </div>
}

@helper RenderImage(CategorizedMedia categorizedMedia)
{
    var category = categorizedMedia.Category;
    var media = categorizedMedia.Media;
    <div class="@category gallery-item masonry-item">
        <a href="@media.Url" title="@media.Name">
            <img data-src="@Html.GetThumbnailUrl((string)media.Url)" alt="" class="not-loaded" />
        </a>
    </div>
}